body {
    background-color: #d6d6d6;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.4) 50%);
    background-size: 3px 3px;
}

.row .no-margin {
    margin-bottom: inherit;
}

i.artefact {
    font-size: 18rem;
}

.card.artefact {
    height: 700px;
}

.card.artefact > .card-image {
    height: 65%;
}

.card.artefact > .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.card.artefact > .card-content > .author {
    align-self: flex-end;
    text-align: right;
}


.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.github-fork-ribbon {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
