body {
    background-color: #d6d6d6;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.4) 50%);
    background-size: 3px 3px;
}


/* Main elements */

i.artefact {
    font-size: 18rem;
}

.card.artefact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 750px;
}


/* Card content */
.card.artefact .card-image {
    height: 500px;
}

.card.artefact .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-bottom: 5px;
}

.card.resource .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* Sections of content */
.card-content > .short-description {
    align-self: flex-start;
    flex-grow: 1;
}

.card-content > .author {
    align-self: flex-end;
    text-align: right;
}

.card.artefact .card-action {
    align-content: flex-end;
}

.card-action .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-action > .row.no-margin {
    margin: inherit;
}

.card-action > .row.no-margin > * {
    margin: auto;
}


/* Layout */

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.tabs .tab a {
    font-size: 16px;
    font-weight: 500;
}

.footer {
    font-size: smaller;
    text-align: center;
    padding: 12px;
}

.row.section-header {
    margin-top: 20px;
    margin-bottom: 0px;
}

.card-panel.section-header {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}

.btn-narrow {
    padding-left: 1rem;
    padding-right: 1rem;
}


/* Decoration elements */

.github-fork-ribbon {
    -webkit-box-sizing: content-box !important;
    box-sizing: content-box !important;
}
